<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="me.flyray.bsin.infrastructure.mapper.AppAgentMapper">

  <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.entity.AppAgent">
    <id property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
    <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
    <result property="merchantNo" column="merchant_no" jdbcType="VARCHAR"/>
    <result property="customerNo" column="customer_no" jdbcType="VARCHAR"/>
    <result property="name" column="name" jdbcType="VARCHAR"/>
    <result property="type" column="type" jdbcType="VARCHAR"/>
    <result property="appAgentModel" column="app_agent_model" jdbcType="VARCHAR"/>
    <result property="accessAuthority" column="access_authority" jdbcType="VARCHAR"/>
    <result property="defaultFlag" column="default_flag" jdbcType="VARCHAR"/>
    <result property="editable" column="editable" jdbcType="VARCHAR"/>
    <result property="description" column="description" jdbcType="VARCHAR"/>
    <result property="streaming" column="streaming" jdbcType="VARCHAR"/>
    <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
  </resultMap>

  <sql id="Base_Column_List">
    serial_no,default_flag,streaming,editable
        ,tenant_id,merchant_no,customer_no,app_agent_model,avatar,
        ,type,cover_image,access_authority,`status`,create_time,update_time
  </sql>

  <select id="listPage" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List"/>
    from ai_app_agent
  </select>

</mapper>