[submodule "bsin-server-env"]
	path = bsin-server-env
	url = https://gitee.com/s11e-DAO/bsin-server-env.git
[submodule "bsin-server-apps/bsin-server-waas"]
	path = bsin-server-apps/bsin-server-waas
	url = https://gitee.com/s11e-DAO/bsin-server-waas.git
[submodule "bsin-server-apps/bsin-server-app-agent"]
	path = bsin-server-apps/bsin-server-app-agent
	url = https://gitee.com/s11e-DAO/bsin-server-app-agent.git
[submodule "bsin-server-apps/bsin-server-iot"]
	path = bsin-server-apps/bsin-server-iot
	url = https://gitee.com/s11e-DAO/bsin-server-iot.git
[submodule "bsin-app-scaffold"]
	path = bsin-app-scaffold
	url = https://gitee.com/s11e-DAO/bsin-app-scaffold.git