*.iml
*.idea
*/target/
*target
*.log
/logs/
/dist


# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json

# production
/dist

# misc
.DS_Store

# umi
/src/.umi
/src/.umi-production
/src/.umi-test
/.env.local

/bsin-server-upms/upms-server/src/main/resources/application.properties
/bsin-server-targe-gateway/src/main/resources/application.properties
/bsin-server-intelligent-decision/intelligent-decision-server/src/main/resources/application.properties
/bsin-server-workflow/workflow-server/src/main/resources/application.properties
/bsin-server-workflow-admin/workflow-admin-server/src/main/resources/application.properties
/bsin-server-ai/ai-server/src/main/resources/application.properties
/bsin-server-apps/bsin-server-workflow/workflow-server/src/main/resources/application.properties
/bsin-server-apps/bsin-server-ai/ai-server/src/main/resources/application.properties
/bsin-server-apps/bsin-server-intelligent-decision/intelligent-decision-server/src/main/resources/application.properties
/bsin-server-apps/bsin-server-workflow-admin/workflow-admin-server/src/main/resources/application.properties

bsin-ui-apps/bsin-ui-upms/dist/

doc/script/apps-container.tar

doc/script/ui-upms.tar

bsin-targe-gateway-admin/src/main/resources/application-mysql.yml

bsin-server-apps/bsin-server-upms/upms-server/src/main/resources/application-pro.yml
/bsin-server-apps/bsin-server-ai/ai-server/src/main/resources/application-prod.properties
/bsin-server-apps/bsin-server-ai/ai-server/src/main/resources/application-local.properties
/bsin-server-apps/bsin-server-crm/crm-server/src/main/resources/application-bsin.properties

bsin-server-apps/bsin-server-ai/ai-go-wechat/vendor/

bsin-server-apps/bsin-server-ai/logs/

bsin-ui-apps/bsin-ui-ai-agent/dist/

/bsin-server-env.bak
.idea.bak/

bsin-ui-apps/bsin-ui-waas/dist/

docker/bsin-paas-os/server-apps/ai-agent/jar/

docker/bsin-paas-os/server-apps/brms/jar/

docker/bsin-paas-os/server-apps/upms/jar/

docker/bsin-paas-os/server-apps/crm/jar/

docker/bsin-paas-os/server-apps/workflow/jar/

docker/bsin-paas-os/server-apps/workflow-admin/jar/

docker/bsin-paas-os/server-apps/waas/jar/

docker/bsin-paas-os/server-apps/search/jar/

docker/bsin-paas-os/server-apps/http/jar/

docker/bsin-paas-os/ui-apps/ai-agent/dist/

docker/bsin-paas-os/ui-apps/upms/dist/

docker/bsin-paas-os/ui-apps/waas/dist/

docker/bsin-paas-os/targe-gateway/jar/

docker/middleware/mysql/db/

docker/bsin-paas-os/targe-gateway-admin/jar/

docker/middleware/mysql/data

docker/middleware/redis/data

bsin-targe-gateway-admin/logs

docker/bsin-paas-os/targe-gateway/logs/

docker/bsin-paas-os/targe-gateway-admin/logs/

docker/bsin-paas-os/apps-container/dist/

docker/bsin-paas-os/ui-apps/decision-admin/dist/

bsin-ui-apps/bsin-ui-decision-admin/dist/
