<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.customer.PlatformMapper">

    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.entity.customer.Platform">
            <id property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
            <result property="platformName" column="platform_name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
            <result property="txPassword" column="tx_password" jdbcType="VARCHAR"/>
            <result property="txPasswordStatus" column="tx_password_status" jdbcType="INTEGER"/>
            <result property="googleSecretKey" column="google_secret_key" jdbcType="INTEGER"/>
            <result property="registrationName" column="registration_name" jdbcType="VARCHAR"/>
            <result property="registrationCntrCode" column="registration_cntr_code" jdbcType="VARCHAR"/>
            <result property="registrationNumber" column="registration_number" jdbcType="VARCHAR"/>
            <result property="companyType" column="company_type" jdbcType="INTEGER"/>
            <result property="legalPersonName" column="legal_person_name" jdbcType="VARCHAR"/>
            <result property="legalPersonIdType" column="legal_person_id_type" jdbcType="INTEGER"/>
            <result property="legalPersonIdno" column="legal_person_idno" jdbcType="VARCHAR"/>
            <result property="businessLicenceImg" column="business_licence_img" jdbcType="VARCHAR"/>
            <result property="registrationDate" column="registration_date" jdbcType="VARCHAR"/>
            <result property="validityRegistrationDate" column="validity_registration_date" jdbcType="VARCHAR"/>
            <result property="addressLine" column="address_line" jdbcType="VARCHAR"/>
            <result property="netAddress" column="net_address" jdbcType="VARCHAR"/>
            <result property="addressIndex" column="address_index" jdbcType="VARCHAR"/>
            <result property="businessScope" column="business_scope" jdbcType="VARCHAR"/>
            <result property="corpEmail" column="corp_email" jdbcType="VARCHAR"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        serial_no,platform_name,type,
        status,comment,registration_name,
        registration_cntr_code,registration_number,company_type,
        legal_person_name,legal_person_id_type,legal_person_idno,
        business_licence_img,registration_date,validity_registration_date,
        address_line,net_address,address_index,
        busuness_scope,corp_email,tenant_id,
        create_by,create_time,update_by,
        update_time,del_flag
    </sql>
</mapper>
