<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="me.flyray.bsin.infrastructure.mapper.customer.SettlementAccountMapper">

    <update id="batchDeleteByMerchantId" parameterType="java.lang.String">
        update crm_settlement_account set del_flag = 1 where merchant_id = #{merchantId}
    </update>

    <update id="updateDelFlag">
        update crm_settlement_account set del_flag = '1' ,update_by = #{params.updateBy} ,update_time = #{params.updateTime}
        where serial_no = #{params.serialNo}
    </update>
</mapper>