<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.DecisionRuleMapper">

    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.entity.DecisionRule">
            <id property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
            <result property="kiePackageName" column="kie_package_name" jdbcType="VARCHAR"/>
            <result property="kieBaseName" column="kie_base_name" jdbcType="VARCHAR"/>
            <result property="ruleName" column="rule_name" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="contentJson" column="content_json" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        serial_no,tenant_id,kie_package_name,
        kie_base_name,rule_name,content,content_json,create_time,
        update_time,type,version,description
    </sql>

    <select id="getDecisionRuleList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from brms_decision_rule
        <where>
            <if test="tenantId != null and tenantId != ''">
                tenant_id = #{tenantId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="getAllDecisionRuleList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from brms_decision_rule
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from brms_decision_rule
            where serial_no = #{serialNo}
    </select>

</mapper>
