<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.CopilotMapper">

    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.domain.CopilotInfo">
        <id property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
        <result property="merchantNo" column="merchant_no" jdbcType="VARCHAR"/>
        <result property="customerNo" column="customer_no" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="knowledgeBaseNo" column="Knowledge_base_no" jdbcType="VARCHAR"/>
        <result property="llmNo" column="llm_no" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="promptTemplateNo" column="prompt_template_no" jdbcType="VARCHAR"/>
        <result property="summaryPromptTemplate" column="summary_prompt_template" jdbcType="VARCHAR"/>
        <result property="accessAuthority" column="access_authority" jdbcType="VARCHAR"/>
        <result property="defaultFlag" column="default_flag" jdbcType="VARCHAR"/>
        <result property="editable" column="editable" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="streaming" column="streaming" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        serial_no
        ,default_flag,sex,streaming,editable
        ,Knowledge_base_no,llm_no,summary_prompt_template,
        ,tenant_id,merchant_no,customer_no,temperature,prompt_template_no,avatar,
        ,type,cover_image,access_authority,`status`,create_time,update_time
    </sql>

</mapper>
