<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.EmbeddingModelMapper">

    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.domain.EmbeddingModel">
        <id property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
        <result property="merchantNo" column="merchant_no" jdbcType="VARCHAR"/>
        <result property="customerNo" column="customer_no" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="retrievalMethod" column="retrieval_method" jdbcType="VARCHAR"/>
        <result property="minScore" column="min_score" jdbcType="VARCHAR"/>
        <result property="maxResults" column="max_results" jdbcType="VARCHAR"/>
        <result property="quoteLimit" column="quote_limit" jdbcType="INTEGER"/>
        <result property="collectionName" column="collection_name" jdbcType="VARCHAR"/>
        <result property="dimension" column="dimension" jdbcType="INTEGER"/>
        <result property="apiKey" column="api_key" jdbcType="VARCHAR"/>
        <result property="proxyUrl" column="proxy_url" jdbcType="VARCHAR"/>
        <result property="proxyPort" column="proxy_port" jdbcType="VARCHAR"/>
        <result property="apiBaseUrl" column="api_base_url" jdbcType="VARCHAR"/>
        <result property="emptyResp" column="empty_resp" jdbcType="VARCHAR"/>
        <result property="coverImage" column="cover_image" jdbcType="VARCHAR"/>
        <result property="segmentSizeInTokens" column="segment_size_in_tokens" jdbcType="INTEGER"/>
        <result property="overlapSizeInTokens" column="overlap_size_in_tokens" jdbcType="INTEGER"/>
        <result property="tokenizerModel" column="tokenizer_model" jdbcType="VARCHAR"/>
        <result property="documentSplitter" column="document_splitter" jdbcType="VARCHAR"/>
        <result property="accessAuthority" column="access_authority" jdbcType="VARCHAR"/>
        <result property="defaultFlag" column="default_flag" jdbcType="VARCHAR"/>
        <result property="editable" column="editable" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        serial_no
        ,segment_size_in_tokens,document_splitter,default_flag,editable,api_key,api_base_url,proxyUrl,proxyPort
        ,tenant_id,merchant_no,customer_no,dimension.collection_name,segment_size_in_chars,overlap_size_in_tokens,tokenizer_model,
        ,type,min_score,max_results,quote_limit,empty_resp,retrieval_method,cover_image,access_authority,`status`,create_time,update_time
    </sql>

</mapper>
