<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.OutputParsersMapper">

    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.domain.OutputParsers">
        <id property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
        <result property="merchantNo" column="merchant_no" jdbcType="VARCHAR"/>
        <result property="customerNo" column="customer_no" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="responseSchema" column="response_schema" jdbcType="VARCHAR"/>
        <!--        <result property="retrievalMethod" column="retrieval_method" jdbcType="VARCHAR"/>-->
        <!--        <result property="minSimilarity" column="min_similarity" jdbcType="VARCHAR"/>-->
        <!--        <result property="quoteLimit" column="quote_limit" jdbcType="INTEGER"/>-->
        <!--        <result property="emptyResp" column="empty_resp" jdbcType="VARCHAR"/>-->
        <!--        <result property="coverImage" column="cover_image" jdbcType="VARCHAR"/>-->
        <result property="accessAuthority" column="access_authority" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="editable" column="editable" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        serial_no
        ,tenant_id,merchant_no,customer_no,response_schema,editable
        ,type,cover_image,access_authority,`status`,create_time,update_time
    </sql>

</mapper>
