<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.WxPlatformUserMapper">

    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.domain.WxPlatformUser">
        <id property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
        <result property="openId" column="open_id" jdbcType="VARCHAR"/>
        <result property="appId" column="app_id" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="city" column="city" jdbcType="VARCHAR"/>
        <result property="height" column="height" jdbcType="DOUBLE"/>
        <result property="birthday" column="birthday" jdbcType="VARCHAR"/>
        <result property="education" column="education" jdbcType="VARCHAR"/>
        <result property="maritalStatus" column="marital_status" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="income" column="income" jdbcType="VARCHAR"/>
        <result property="constellation" column="constellation" jdbcType="VARCHAR"/>
        <result property="character" column="character" jdbcType="VARCHAR"/>
        <result property="interest" column="interest" jdbcType="VARCHAR"/>
        <result property="loveView" column="love_view" jdbcType="VARCHAR"/>
        <result property="mateRequirements" column="mate_requirements" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="wxNo" column="wx_no" jdbcType="VARCHAR"/>
        <result property="tokenBalance" column="token_balance" jdbcType="INTEGER"/>
        <result property="tokenUsed" column="token_used" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseColumnList">
        serial_no
        ,open_id,app_id,
        tenant_id,`name`,sex,
        age,city,height,
        birthday,education,marital_status,
        avatar,income,constellation,
        `character`,interest,love_view,
        mate_requirements,phone,wx_no,token_balance,token_used,
        create_time,status
    </sql>


    <select id="selectByOpenId" resultMap="BaseResultMap">
        select
        <include refid="baseColumnList"/>
        from ai_wx_platform_user
        where open_id = #{openId}
    </select>

</mapper>
