<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.WxPlatformMenuMapper">

    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.entity.WxPlatformMenu">
        <id property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="menuKey" column="menu_key" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="appid" column="appid" jdbcType="VARCHAR"/>
        <result property="pagePath" column="pagePath" jdbcType="VARCHAR"/>
        <result property="articleId" column="article_id" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="wxPlatformMenuTemplateNo" column="wx_platform_menu_template_no" jdbcType="VARCHAR"/>
        <result property="defaultFlag" column="default_flag" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="editable" column="editable" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="baseColumnList">
        serial_no
        ,editable,menu_key,wx_platform_menu_template_no
        ,name,default_flag,sort,parent_id,level,article_id,app_id,page_path
        ,description,status,type,url,create_time
        ,update_time
    </sql>


    <select id="selectByWxPlatformMenuTemplateNo" resultMap="BaseResultMap">
        select
        <include refid="baseColumnList"/>
        from ai_wx_platform_menu
        where wx_platform_menu_template_no = #{wxPlatformMenuTemplateNo}
        and del_flag = 0
    </select>


</mapper>
