<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.BizRoleAppMapper">
    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.entity.BizRoleApp">
        <result column="serial_no" jdbcType="VARCHAR" property="serialNo"/>
        <result column="tenant_id" jdbcType="VARCHAR" property="tenantId"/>
        <result column="biz_role_type" jdbcType="VARCHAR" property="bizRoleType"/>
        <result column="biz_role_type_no" jdbcType="VARCHAR" property="bizRoleTypeNo"/>
        <result column="app_name" jdbcType="VARCHAR" property="appName"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="corp_id" property="corpId" jdbcType="VARCHAR"/>
        <result column="agent_id" property="agentId" jdbcType="VARCHAR"/>
        <result column="app_channel" jdbcType="VARCHAR" property="appChannel"/>
        <result column="app_secret" jdbcType="VARCHAR" property="appSecret"/>
        <result column="aes_key" property="aesKey" jdbcType="VARCHAR"/>
        <result column="token" property="token"  jdbcType="VARCHAR"/>
        <result column="app_description" jdbcType="VARCHAR" property="appDescription"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="del_flag" jdbcType="INTEGER" property="delFlag"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="notify_url" jdbcType="VARCHAR" property="notifyUrl"/>
    </resultMap>

    <sql id="baseColumnList">
        serial_no,tenant_id,biz_role_type_no,app_name,app_id,corp_id,app_secret,aes_key
        ,app_channel,token,app_description,status
        ,create_time,update_time
    </sql>

    <update id="delete">
        update crm_biz_role_app
        set del_flag = 1
        where serial_no = #{serialNo}
    </update>

    <select id="getPageList" resultMap="BaseResultMap">
        select serial_no,
        tenant_id,
        biz_role_type_no,
        app_name,
        app_id,
        app_channel,
        app_secret,
        app_description,
        create_time,
        update_time,
        del_flag,
        status
        from crm_biz_role_app
        where del_flag = 0
        <if test="appName != null">
            and app_name like concat('%',#{appName},'%')
        </if>
        <if test="appId != null">
            and app_id = #{appId}
        </if>
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
        <if test="appSecret != null">
            and app_secret = #{appSecret}
        </if>
    </select>

    <select id="getAppInfo" resultMap="BaseResultMap">
        select serial_no,
               tenant_id,
               biz_role_type_no,
               app_name,
               app_id,
               app_channel,
               app_secret,
               app_description,
               create_time,
               update_time,
               del_flag,
               status
        from crm_biz_role_app
        where del_flag = 0
        <if test="tenantId != null and tenantId != ''">
            and tenant_id = #{tenantId}
        </if>
        <if test="bizRoleTypeNo != null and bizRoleTypeNo != ''">
            and biz_role_type_no = #{bizRoleTypeNo}
        </if>
        <if test="appId != null">
            and app_id = #{appId}
        </if>
    </select>

    <select id="getAppInfoByAppId" resultMap="BaseResultMap">
        select serial_no,
               tenant_id,
               biz_role_type_no,
               app_name,
               app_id,
               app_channel,
               app_secret,
               app_description,
               create_time,
               update_time,
               del_flag,
               status
        from crm_biz_role_app
        where del_flag = 0 and app_id = #{appId}
    </select>

    <select id="selectByAppId" resultMap="BaseResultMap">
        select
        <include refid="baseColumnList"/>
        from crm_biz_role_app
        where del_flag = 0 and
        app_id = #{appId} and
        tenant_id = #{tenantId}
    </select>


    <select id="selectByCorpAgentId" resultMap="BaseResultMap">
        select
        <include refid="baseColumnList"/>
        from crm_biz_role_app
        <where>
            <if test="corpId != null and corpId != ''">
                corp_id = #{corpId}
            </if>
            <if test="agentId != null and agentId != ''">
                agent_id = #{agentId}
            </if>
        </where>
        order by create_time desc
        limit 1
    </select>

</mapper>