<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.ConditionMapper">

    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.entity.Condition">
            <id property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
            <result property="value" column="value" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="conditionRelationshipNo" column="condition_relationship_no" jdbcType="VARCHAR"/>
            <result property="merchantNo" column="merchant_no" jdbcType="VARCHAR"/>
            <result property="typeNo" column="type_no" jdbcType="VARCHAR"/>
            <result property="typeProtocol" column="type_protocol" jdbcType="VARCHAR"/>
            <result property="typeTokenId" column="type_token_id" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="TINYINT"/>

    </resultMap>

    <sql id="Base_Column_List">
        serial_no,create_by,create_time,
        update_by,update_time,del_flag,
        tenant_id,value,remark,name,
        merchant_no,type_no,type_protocol,type_token_id,type
    </sql>

    <select id="getConditionList" resultMap="BaseResultMap">
        select
            c.serial_no,c.create_by,c.create_time,
            c.update_by,c.update_time,c.del_flag,
            c.tenant_id,c.value, c.remark, c.name,
            c.merchant_no,c.type,c.type_no,
            cr.type_no as crtype_no,
            cr.serial_no as condition_relationship_no,
            cr.category_no
        from crm_condition_relation as cr
                 left join crm_condition as c on cr.type_no = c.serial_no
        where cr.category_no = #{categoryNo}
        order by c.create_time desc
    </select>

</mapper>
