<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.DisBrokerageRuleMapper">

    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.entity.DisBrokerageRule">
            <id property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
            <result property="brokeragePolicyNo" column="brokerage_policy_no" jdbcType="VARCHAR"/>
            <result property="firstSalePer" column="first_sale_per" jdbcType="INTEGER"/>
            <result property="secondSalePer" column="second_sale_per" jdbcType="INTEGER"/>
            <result property="goodsCategoryNo" column="goods_category_no" jdbcType="VARCHAR"/>
            <result property="merchantNo" column="merchant_no" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        serial_no,tenant_id,brokerage_policy_no,
        first_sale_per,second_sale_per,goods_category_no,
        merchant_no,del_flag,create_time,
        update_time
    </sql>
</mapper>
