<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.DisModelMapper">

    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.entity.DisModel">
            <id property="serialNo" column="serial_no" jdbcType="INTEGER"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
            <result property="model" column="model" jdbcType="VARCHAR"/>
            <result property="quitCurrentLimit" column="quit_current_limit" jdbcType="INTEGER"/>
            <result property="firstInviteBrokerage" column="first_invite_brokerage" jdbcType="INTEGER"/>
            <result property="secondInviteBrokerage" column="second_invite_brokerage" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        serial_no,tenant_id,model,
        quit_current_limit,first_invite_brokerage,second_invite_brokerage
    </sql>
</mapper>
