<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.EventModelMapper">

    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.entity.EventModel">
            <id property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
            <id property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
            <result property="eventCode" column="event_code" jdbcType="VARCHAR"/>
            <result property="modelNo" column="model_no" jdbcType="VARCHAR"/>
            <result property="modelType" column="model_type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        serial_no,tenant_id,event_code,
        model_no,model_type
    </sql>
</mapper>
