<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.StoreMapper">

    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.entity.Store">
            <id property="serialNo" column="serial_no" jdbcType="INTEGER"/>
            <result property="storeName" column="store_name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="longitude" column="longitude" jdbcType="VARCHAR"/>
            <result property="latitude" column="latitude" jdbcType="VARCHAR"/>
            <result property="businessHours" column="business_hours" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="logo" column="logo" jdbcType="INTEGER"/>
            <result property="merchantNo" column="merchant_no" jdbcType="VARCHAR"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="regionCode" column="region_code" jdbcType="VARCHAR"/>
            <result property="businessModel" column="business_model" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
            <result property="gradeNo" column="grade_no" jdbcType="VARCHAR"/>
            <result property="sysAgentNo" column="sys_agent_no" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">

        serial_no,store_name,password,address,
        longitude,latitude,business_hours,region_code,
        description,logo,merchant_no,business_model,type,
        tenant_id,del_flag,grade_no, sys_agent_no
    </sql>

    <select id="getPageListByBizTypeCityCode" resultMap="BaseResultMap">
        SELECT 
            s.serial_no,
            s.tenant_id,
            s.merchant_no,
            s.store_name,
            s.password,
            s.address,
            s.longitude,
            s.type,
            s.latitude,
            s.business_hours,
            s.description,
            s.logo,
            s.del_flag,
            s.create_time,
            s.update_time,
            s.business_model,
            s.sys_agent_no,
            s.region_code,
            s.grade_no,
            s.contact_phone,
            s.contact_name,
            m.merchant_name,
            m.business_type,
            m.business_scope
        FROM crm_store s
        LEFT JOIN crm_merchant m ON s.merchant_no = m.serial_no
        WHERE s.del_flag = 0 and s.tenant_id = #{tenantId}
        <if test="businessTypeNo != null and businessTypeNo != ''">
            AND m.business_type = #{businessTypeNo}
        </if>
        <if test="regionCode != null and regionCode != ''">
            AND s.region_code LIKE CONCAT(#{regionCode}, '%')
        </if>
        ORDER BY s.create_time DESC
    </select>

</mapper>
