<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.SysAgentModelMapper">

    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.entity.SysAgentModel">
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
            <result property="model" column="model" jdbcType="VARCHAR"/>
            <result property="provincialAgentRate" column="provincial_agent_rate" jdbcType="INTEGER"/>
            <result property="cityAgentRate" column="city_agent_rate" jdbcType="INTEGER"/>
            <result property="countyAgentRate" column="county_agent_rate" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        tenant_id,model,provincial_agent_rate,
        city_agent_rate,county_agent_rate
    </sql>

</mapper>
