<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.SysAgentMapper">

    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.entity.SysAgent">
            <id property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
            <result property="parentAgentNo" column="tenant_id" jdbcType="VARCHAR"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="agentName" column="agent_name" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="logoUrl" column="logo_url" jdbcType="VARCHAR"/>
            <result property="businessNo" column="business_no" jdbcType="VARCHAR"/>
            <result property="legalPersonName" column="legal_person_name" jdbcType="VARCHAR"/>
            <result property="legalPersonCredType" column="legal_person_cred_type" jdbcType="VARCHAR"/>
            <result property="legalPersonCredNo" column="legal_person_cred_no" jdbcType="VARCHAR"/>
            <result property="businessLicenceImg" column="business_licence_img" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="netAddress" column="net_address" jdbcType="VARCHAR"/>
            <result property="agentAddress" column="agent_address" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="authenticationStatus" column="authentication_status" jdbcType="VARCHAR"/>
            <result property="businessType" column="business_type" jdbcType="VARCHAR"/>
            <result property="businessScope" column="business_scope" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="gradeNo" column="grade_no" jdbcType="VARCHAR"/>
            <result property="regionCode" column="region_code" jdbcType="VARCHAR"/>
            <result property="agentLevel" column="agent_level" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        serial_no,tenant_id,avatar,username,
        agent_name,logo_url,business_no,legal_person_name,
        legal_person_cred_type,legal_person_cred_no,business_licence_img,
        phone,net_address,agent_address,
        status,type,create_time,
        update_time,authentication_status,business_type,
        business_scope,del_flag,description,grade_no
    </sql>

</mapper>
