<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.WithdrawJournalMapper">

    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.entity.WithdrawOrder">
            <id property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
            <result property="customerNo" column="customer_no" jdbcType="VARCHAR"/>
            <result property="outOdrerNo" column="out_odrer_no" jdbcType="VARCHAR"/>
            <result property="txHash" column="tx_hash" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="payeeType" column="payee_type" jdbcType="VARCHAR"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="ccy" column="ccy" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="auditTime" column="audit_time" jdbcType="TIMESTAMP"/>
            <result property="merchantNo" column="merchant_no" jdbcType="VARCHAR"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
            <result property="payeeAccount" column="payee_account" jdbcType="VARCHAR"/>
            <result property="payeeAccountType" column="payee_account_type" jdbcType="VARCHAR"/>
            <result property="payeeName" column="payee_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        serial_no,customer_no,remark,
        status,payee_type,amount,out_odrer_no,tx_hash,
        ccy,create_time,audit_time,
        merchant_no,tenant_id,payee_account,
        payee_account_type,payee_name
    </sql>
</mapper>
